@use '@styles/common.scss' as *;

.bgArea {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include Flex($align: center, $justify: center);
  z-index: $Z_INDEX_MODAL;

  &.dimmed {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalArea {
    position: relative;
    @include BoxShadow(300);

    // 모달 최대 크기 설정
    @media (max-height: 800px) {
      max-height: calc(100% - 40px);
    }

    .closeBtn {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &.DEFAULT {
      border-radius: $RADIUS_M;
      background-color: $COLOR_BACKGROUND_SURFACE_DEFAULT;
    }
  }
}

.scrollArea {
  overflow: hidden;

  .scrollInner {
    @include scrollY;
  }
}
