@use '@styles/common.scss' as *;

.wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: $RADIUS_CIRCULAR;
  border: 1px solid $COLOR_BORDER_DEFAULT;

  &.M {
    width: 20px;
    height: 20px;

    &.selected {
      &::after {
        width: 12px;
        height: 12px;
      }
    }
  }

  &.selected {
    position: relative;
    @include FillStyle($COLOR_FILL_BRAND_STRONG_DEFAULT);
    border: none;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      border-radius: $RADIUS_CIRCULAR;
      background-color: $COLOR_BACKGROUND_SURFACE_DEFAULT;
      content: '';
    }
  }

  &:not(.selected, .disabled) {
    @include FillStyle($COLOR_FILL_NEUTRAL_SUBTLE_DEFAULT);
  }

  &.disabled {
    background-color: $COLOR_BACKGROUND_DISABLED;
    border-color: $COLOR_BORDER_DISABLED;

    &.selected {
      background-color: $COLOR_BORDER_STRONG;
    }
  }
}
