@use '@styles/common.scss' as *;

.wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: $RADIUS_S;
  border: 1px solid $COLOR_BORDER_DEFAULT;

  &:not(.selected, .indeterminate, .disabled) {
    @include FillStyle($COLOR_FILL_NEUTRAL_SUBTLE_DEFAULT);
  }

  &:not(.disabled).selected,
  &:not(.disabled).indeterminate {
    @include FillStyle($COLOR_FILL_BRAND_STRONG_DEFAULT);
  }

  &.disabled {
    background-color: $COLOR_BACKGROUND_DISABLED;
    border-color: $COLOR_BORDER_DISABLED;
  }
}
