@use '@styles/common.scss' as *;

.wrapper {
  @include Flex($dir: column);
  border-radius: $RADIUS_M;
  background-color: $COLOR_BACKGROUND_SURFACE_DEFAULT;
  @include BoxShadow(300);

  .titleArea {
    @include Flex($align: center, $gap: $SPACE_XS);
    padding: $SPACE_XL $SPACE_XL $SPACE_L $SPACE_XL;
  }

  .descriptionArea {
    padding: 0 $SPACE_XL $SPACE_XS;
  }

  .btnArea {
    @include Flex($align: center, $justify: flex-end, $gap: $SPACE_XS);
    padding: $SPACE_L $SPACE_XL;
  }
}
