@use '@styles/common.scss' as *;

.toastArea {
  position: fixed;
  left: 50%;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: $space_XXS;
  padding: $space_M $space_L;
  border-radius: $radius_S;
  background-color: $color_background_accent_gray_default;
  @include BoxShadow(300);
  z-index: $z_index_Max;
  animation:
    fadeIn 0.5s ease-out forwards,
    fadeOut 0.5s ease-in forwards;
  animation-delay: 0s, 2.5s;
  transform: translate(-50%, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 0);
  }
}
