@use '@styles/common.scss' as *;

.toastArea {
  position: fixed;
  left: 50%;
  bottom: 0;
  @include Flex($dir: row, $align: center, $gap: $SPACE_XXS);
  padding: $SPACE_M $SPACE_L;
  border-radius: $RADIUS_S;
  background-color: $COLOR_BACKGROUND_ACCENT_GRAY_DEFAULT;
  @include BoxShadow(300);
  z-index: $Z_INDEX_TOOLTIP;
  animation:
    fadeIn 0.5s ease-out forwards,
    fadeOut 0.5s ease-in forwards;
  animation-delay: 0s, 2.5s;
  transform: translate(-50%, 0);

  .content {
    white-space: nowrap;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 0);
  }
}
