@import "./colors.scss";

$color_background_surface_default: $C_GRAY_WHITE;
$color_background_surface_alternative: $C_GRAY_25;
$color_background_disabled: $C_GRAY_50;
$color_background_dimmer: rgba(24, 25, 27, 61);
$color_background_accent_green_subtle: $C_GREEN_25;
$color_background_accent_green_default: $C_GREEN_500;
$color_background_accent_green_strong: $C_GREEN_800;
$color_background_accent_springgreen_subtle: $C_SPRINGGREEN_25;
$color_background_accent_springgreen_default: $C_SPRINGGREEN_500;
$color_background_accent_springgreen_strong: $C_SPRINGGREEN_800;
$color_background_accent_olivegreen_subtle: $C_OLIVEGREEN_25;
$color_background_accent_olivegreen_default: $C_OLIVEGREEN_500;
$color_background_accent_olivegreen_strong: $C_OLIVEGREEN_800;
$color_background_accent_yellow_subtle: $C_YELLOW_25;
$color_background_accent_yellow_default: $C_YELLOW_500;
$color_background_accent_yellow_strong: $C_YELLOW_800;
$color_background_accent_gold_subtle: $C_GOLD_25;
$color_background_accent_gold_default: $C_GOLD_500;
$color_background_accent_gold_strong: $C_GOLD_800;
$color_background_accent_orange_subtle: $C_ORANGE_25;
$color_background_accent_orange_default: $C_ORANGE_500;
$color_background_accent_orange_strong: $C_ORANGE_800;
$color_background_accent_red_subtle: $C_RED_25;
$color_background_accent_red_default: $C_RED_500;
$color_background_accent_red_strong: $C_RED_800;
$color_background_accent_pink_subtle: $C_PINK_25;
$color_background_accent_pink_default: $C_PINK_500;
$color_background_accent_pink_strong: $C_PINK_800;
$color_background_accent_purple_subtle: $C_PURPLE_25;
$color_background_accent_purple_default: $C_PURPLE_500;
$color_background_accent_purple_strong: $C_PURPLE_800;
$color_background_accent_violet_subtle: $C_VIOLET_25;
$color_background_accent_violet_default: $C_VIOLET_500;
$color_background_accent_violet_strong: $C_VIOLET_800;
$color_background_accent_cobaltblue_subtle: $C_COBALTBLUE_25;
$color_background_accent_cobaltblue_default: $C_COBALTBLUE_500;
$color_background_accent_cobaltblue_strong: $C_COBALTBLUE_800;
$color_background_accent_skyblue_subtle: $C_SKYBLUE_25;
$color_background_accent_skyblue_default: $C_SKYBLUE_500;
$color_background_accent_skyblue_strong: $C_SKYBLUE_800;
$color_background_accent_cyan_subtle: $C_CYAN_25;
$color_background_accent_cyan_default: $C_CYAN_500;
$color_background_accent_cyan_strong: $C_CYAN_800;
$color_background_accent_teal_subtle: $C_TEAL_25;
$color_background_accent_teal_default: $C_TEAL_500;
$color_background_accent_teal_strong: $C_TEAL_800;
$color_background_accent_gray_default: $C_GRAY_500;
$color_background_accent_gray_strong: $C_GRAY_800;
$color_background_accent_gray_subtle: $C_GRAY_50;
