@use './colors.scss' as *;

$COLOR_BACKGROUND_SURFACE_DEFAULT: $COLOR_GRAY_WHITE;
$COLOR_BACKGROUND_SURFACE_ALTERNATIVE: $COLOR_GRAY_25;
$COLOR_BACKGROUND_DISABLED: $COLOR_GRAY_50;
$COLOR_BACKGROUND_DIMMER: rgba(24, 25, 27, 61);
$COLOR_BACKGROUND_ACCENT_GREEN_SUBTLE: $COLOR_GREEN_25;
$COLOR_BACKGROUND_ACCENT_GREEN_DEFAULT: $COLOR_GREEN_500;
$COLOR_BACKGROUND_ACCENT_GREEN_STRONG: $COLOR_GREEN_800;
$COLOR_BACKGROUND_ACCENT_SPRINGGREEN_SUBTLE: $COLOR_SPRINGGREEN_25;
$COLOR_BACKGROUND_ACCENT_SPRINGGREEN_DEFAULT: $COLOR_SPRINGGREEN_500;
$COLOR_BACKGROUND_ACCENT_SPRINGGREEN_STRONG: $COLOR_SPRINGGREEN_800;
$COLOR_BACKGROUND_ACCENT_OLIVEGREEN_SUBTLE: $COLOR_OLIVEGREEN_25;
$COLOR_BACKGROUND_ACCENT_OLIVEGREEN_DEFAULT: $COLOR_OLIVEGREEN_500;
$COLOR_BACKGROUND_ACCENT_OLIVEGREEN_STRONG: $COLOR_OLIVEGREEN_800;
$COLOR_BACKGROUND_ACCENT_YELLOW_SUBTLE: $COLOR_YELLOW_25;
$COLOR_BACKGROUND_ACCENT_YELLOW_DEFAULT: $COLOR_YELLOW_500;
$COLOR_BACKGROUND_ACCENT_YELLOW_STRONG: $COLOR_YELLOW_800;
$COLOR_BACKGROUND_ACCENT_GOLD_SUBTLE: $COLOR_GOLD_25;
$COLOR_BACKGROUND_ACCENT_GOLD_DEFAULT: $COLOR_GOLD_500;
$COLOR_BACKGROUND_ACCENT_GOLD_STRONG: $COLOR_GOLD_800;
$COLOR_BACKGROUND_ACCENT_ORANGE_SUBTLE: $COLOR_ORANGE_25;
$COLOR_BACKGROUND_ACCENT_ORANGE_DEFAULT: $COLOR_ORANGE_500;
$COLOR_BACKGROUND_ACCENT_ORANGE_STRONG: $COLOR_ORANGE_800;
$COLOR_BACKGROUND_ACCENT_RED_SUBTLE: $COLOR_RED_25;
$COLOR_BACKGROUND_ACCENT_RED_DEFAULT: $COLOR_RED_500;
$COLOR_BACKGROUND_ACCENT_RED_STRONG: $COLOR_RED_800;
$COLOR_BACKGROUND_ACCENT_PINK_SUBTLE: $COLOR_PINK_25;
$COLOR_BACKGROUND_ACCENT_PINK_DEFAULT: $COLOR_PINK_500;
$COLOR_BACKGROUND_ACCENT_PINK_STRONG: $COLOR_PINK_800;
$COLOR_BACKGROUND_ACCENT_PURPLE_SUBTLE: $COLOR_PURPLE_25;
$COLOR_BACKGROUND_ACCENT_PURPLE_DEFAULT: $COLOR_PURPLE_500;
$COLOR_BACKGROUND_ACCENT_PURPLE_STRONG: $COLOR_PURPLE_800;
$COLOR_BACKGROUND_ACCENT_VIOLET_SUBTLE: $COLOR_VIOLET_25;
$COLOR_BACKGROUND_ACCENT_VIOLET_DEFAULT: $COLOR_VIOLET_500;
$COLOR_BACKGROUND_ACCENT_VIOLET_STRONG: $COLOR_VIOLET_800;
$COLOR_BACKGROUND_ACCENT_COBALTBLUE_SUBTLE: $COLOR_COBALTBLUE_25;
$COLOR_BACKGROUND_ACCENT_COBALTBLUE_DEFAULT: $COLOR_COBALTBLUE_500;
$COLOR_BACKGROUND_ACCENT_COBALTBLUE_STRONG: $COLOR_COBALTBLUE_800;
$COLOR_BACKGROUND_ACCENT_SKYBLUE_SUBTLE: $COLOR_SKYBLUE_25;
$COLOR_BACKGROUND_ACCENT_SKYBLUE_DEFAULT: $COLOR_SKYBLUE_500;
$COLOR_BACKGROUND_ACCENT_SKYBLUE_STRONG: $COLOR_SKYBLUE_800;
$COLOR_BACKGROUND_ACCENT_CYAN_SUBTLE: $COLOR_CYAN_25;
$COLOR_BACKGROUND_ACCENT_CYAN_DEFAULT: $COLOR_CYAN_500;
$COLOR_BACKGROUND_ACCENT_CYAN_STRONG: $COLOR_CYAN_800;
$COLOR_BACKGROUND_ACCENT_TEAL_SUBTLE: $COLOR_TEAL_25;
$COLOR_BACKGROUND_ACCENT_TEAL_DEFAULT: $COLOR_TEAL_500;
$COLOR_BACKGROUND_ACCENT_TEAL_STRONG: $COLOR_TEAL_800;
$COLOR_BACKGROUND_ACCENT_GRAY_DEFAULT: $COLOR_GRAY_500;
$COLOR_BACKGROUND_ACCENT_GRAY_STRONG: $COLOR_GRAY_800;
$COLOR_BACKGROUND_ACCENT_GRAY_SUBTLE: $COLOR_GRAY_50;
