@use './colors.scss' as *;

$COLOR_BORDER_STRONG: $COLOR_GRAY_800;
$COLOR_BORDER_DEFAULT: $COLOR_GRAY_200;
$COLOR_BORDER_SUBTLE: $COLOR_GRAY_100;
$COLOR_BORDER_INVERSE: $COLOR_GRAY_WHITE;
$COLOR_BORDER_DISABLED: $COLOR_GRAY_100;
$COLOR_BORDER_BRAND: $COLOR_GREEN_500;
$COLOR_BORDER_SUCCESS: $COLOR_GREEN_500;
$COLOR_BORDER_DANGER: $COLOR_RED_500;
$COLOR_BORDER_WARNING: $COLOR_YELLOW_500;
$COLOR_BORDER_INFORMATION: $COLOR_SKYBLUE_500;

// accent
$COLOR_BORDER_ACCENT_GREEN: $COLOR_GREEN_500;
$COLOR_BORDER_ACCENT_SPRINGGREEN: $COLOR_SPRINGGREEN_500;
$COLOR_BORDER_ACCENT_OLIVEGREEN: $COLOR_OLIVEGREEN_500;
$COLOR_BORDER_ACCENT_YELLOW: $COLOR_YELLOW_500;
$COLOR_BORDER_ACCENT_GOLD: $COLOR_GOLD_500;
$COLOR_BORDER_ACCENT_ORANGE: $COLOR_ORANGE_500;
$COLOR_BORDER_ACCENT_RED: $COLOR_RED_500;
$COLOR_BORDER_ACCENT_PINK: $COLOR_PINK_500;
$COLOR_BORDER_ACCENT_PURPLE: $COLOR_PURPLE_500;
$COLOR_BORDER_ACCENT_VIOLET: $COLOR_VIOLET_500;
$COLOR_BORDER_ACCENT_COBALTBLUE: $COLOR_COBALTBLUE_500;
$COLOR_BORDER_ACCENT_SKYBLUE: $COLOR_SKYBLUE_500;
$COLOR_BORDER_ACCENT_CYAN: $COLOR_CYAN_500;
$COLOR_BORDER_ACCENT_TEAL: $COLOR_TEAL_500;
