// GRAY
$COLOR_GRAY_WHITE: #ffffff;
$COLOR_GRAY_BLACK: #000000;
$COLOR_GRAY_25: #f7f7f7;
$COLOR_GRAY_50: #f3f3f7;
$COLOR_GRAY_100: #e9eaeb;
$COLOR_GRAY_200: #dfe0e2;
$COLOR_GRAY_300: #d1d2d4;
$COLOR_GRAY_400: #acaeb0;
$COLOR_GRAY_500: #838486;
$COLOR_GRAY_600: #464748;
$COLOR_GRAY_700: #333436;
$COLOR_GRAY_800: #18191b;

// GREEN
$COLOR_GREEN_25: #e5fff0;
$COLOR_GREEN_50: #d7f9e3;
$COLOR_GREEN_100: #c2f4d3;
$COLOR_GREEN_200: #79e7a2;
$COLOR_GREEN_300: #3ee089;
$COLOR_GREEN_400: #02d46a;
$COLOR_GREEN_500: #02c551;
$COLOR_GREEN_600: #00b840;
$COLOR_GREEN_700: #02a73c;
$COLOR_GREEN_800: #008c2c;

// SPRING GREEN
$COLOR_SPRINGGREEN_25: #effbed;
$COLOR_SPRINGGREEN_50: #e1f7dc;
$COLOR_SPRINGGREEN_100: #c6efbd;
$COLOR_SPRINGGREEN_200: #a2e594;
$COLOR_SPRINGGREEN_300: #85dd74;
$COLOR_SPRINGGREEN_400: #67d551;
$COLOR_SPRINGGREEN_500: #5dcd47;
$COLOR_SPRINGGREEN_600: #52b13f;
$COLOR_SPRINGGREEN_700: #50a140;
$COLOR_SPRINGGREEN_800: #428f33;

// OLIVEGREEN
$COLOR_OLIVEGREEN_25: #f7fbeb;
$COLOR_OLIVEGREEN_50: #eff6d7;
$COLOR_OLIVEGREEN_100: #e2eeb9;
$COLOR_OLIVEGREEN_200: #cae17f;
$COLOR_OLIVEGREEN_300: #bdd95f;
$COLOR_OLIVEGREEN_400: #acd037;
$COLOR_OLIVEGREEN_500: #a3c62f;
$COLOR_OLIVEGREEN_600: #8ead2a;
$COLOR_OLIVEGREEN_700: #7e9a23;
$COLOR_OLIVEGREEN_800: #708820;

// YELLOW
$COLOR_YELLOW_25: #fffadb;
$COLOR_YELLOW_50: #fff6bd;
$COLOR_YELLOW_100: #fff18f;
$COLOR_YELLOW_200: #ffe566;
$COLOR_YELLOW_300: #ffdb4d;
$COLOR_YELLOW_400: #ffcf0f;
$COLOR_YELLOW_500: #f5c000;
$COLOR_YELLOW_600: #e0a500;
$COLOR_YELLOW_700: #c79200;
$COLOR_YELLOW_800: #b28000;

//GOLD
$COLOR_GOLD_25: #fbf7eb;
$COLOR_GOLD_50: #f8eed6;
$COLOR_GOLD_100: #f2e0b5;
$COLOR_GOLD_200: #eacc80;
$COLOR_GOLD_300: #e4bc5a;
$COLOR_GOLD_400: #ddab31;
$COLOR_GOLD_500: #d0a02a;
$COLOR_GOLD_600: #bc9024;
$COLOR_GOLD_700: #ad821b;
$COLOR_GOLD_800: #9c7517;

// ORANGE
$COLOR_ORANGE_25: #fff5f0;
$COLOR_ORANGE_50: #fee5d9;
$COLOR_ORANGE_100: #fed6c3;
$COLOR_ORANGE_200: #fdb28c;
$COLOR_ORANGE_300: #fd9966;
$COLOR_ORANGE_400: #ff7628;
$COLOR_ORANGE_500: #f46b1d;
$COLOR_ORANGE_600: #e95907;
$COLOR_ORANGE_700: #c74800;
$COLOR_ORANGE_800: #ad3f00;

// RED
$COLOR_RED_25: #fff5f5;
$COLOR_RED_50: #ffe7e5;
$COLOR_RED_100: #ffd8d6;
$COLOR_RED_200: #ff9e99;
$COLOR_RED_300: #fd8882;
$COLOR_RED_400: #fc675f;
$COLOR_RED_500: #fd493f;
$COLOR_RED_600: #f1392c;
$COLOR_RED_700: #e42a20;
$COLOR_RED_800: #cb2620;

// PINK
$COLOR_PINK_25: #fff0f3;
$COLOR_PINK_50: #fedbe4;
$COLOR_PINK_100: #fec8d6;
$COLOR_PINK_200: #fd93af;
$COLOR_PINK_300: #fd6f95;
$COLOR_PINK_400: #fc4b7a;
$COLOR_PINK_500: #ef2e62;
$COLOR_PINK_600: #e42558;
$COLOR_PINK_700: #c61e4b;
$COLOR_PINK_800: #b0274b;

// PURPLE
$COLOR_PURPLE_25: #f9f0f8;
$COLOR_PURPLE_50: #f1daed;
$COLOR_PURPLE_100: #ebcbe6;
$COLOR_PURPLE_200: #d590c9;
$COLOR_PURPLE_300: #c76bb7;
$COLOR_PURPLE_400: #b946a5;
$COLOR_PURPLE_500: #ad3e99;
$COLOR_PURPLE_600: #a1368e;
$COLOR_PURPLE_700: #942b82;
$COLOR_PURPLE_800: #832372;

// VIOLET
$COLOR_VIOLET_25: #f2f1fe;
$COLOR_VIOLET_50: #dfdcfd;
$COLOR_VIOLET_100: #d0cbfb;
$COLOR_VIOLET_200: #a7a0ef;
$COLOR_VIOLET_300: #8b82e9;
$COLOR_VIOLET_400: #6f64dd;
$COLOR_VIOLET_500: #6358d5;
$COLOR_VIOLET_600: #574ccd;
$COLOR_VIOLET_700: #4a40b5;
$COLOR_VIOLET_800: #3f369a;

// COBALT BLUE
$COLOR_COBALTBLUE_25: #eef5fb;
$COLOR_COBALTBLUE_50: #e0eeff;
$COLOR_COBALTBLUE_100: #cce2ff;
$COLOR_COBALTBLUE_200: #93bbf6;
$COLOR_COBALTBLUE_300: #3982ef;
$COLOR_COBALTBLUE_400: #376cf2;
$COLOR_COBALTBLUE_500: #1e5af0;
$COLOR_COBALTBLUE_600: #174fde;
$COLOR_COBALTBLUE_700: #003ec2;
$COLOR_COBALTBLUE_800: #0031ad;

// SKY BLUE
$COLOR_SKYBLUE_25: #f0f9ff;
$COLOR_SKYBLUE_50: #e1f4ff;
$COLOR_SKYBLUE_100: #ccecff;
$COLOR_SKYBLUE_200: #83d1ff;
$COLOR_SKYBLUE_300: #52c0ff;
$COLOR_SKYBLUE_400: #33b2fe;
$COLOR_SKYBLUE_500: #2ca4fb;
$COLOR_SKYBLUE_600: #2497f3;
$COLOR_SKYBLUE_700: #1084f2;
$COLOR_SKYBLUE_800: #0b6cd5;

// CYAN
$COLOR_CYAN_25: #e9fafb;
$COLOR_CYAN_50: #ccf3f7;
$COLOR_CYAN_100: #b5eef3;
$COLOR_CYAN_200: #67dbe6;
$COLOR_CYAN_300: #34cfdd;
$COLOR_CYAN_400: #01c3d5;
$COLOR_CYAN_500: #00b6c7;
$COLOR_CYAN_600: #009fad;
$COLOR_CYAN_700: #00909d;
$COLOR_CYAN_800: #007984;

// TEAL
$COLOR_TEAL_25: #e6fcff;
$COLOR_TEAL_50: #d5fbee;
$COLOR_TEAL_100: #bcf4e4;
$COLOR_TEAL_200: #63e6be;
$COLOR_TEAL_300: #38d9a9;
$COLOR_TEAL_400: #20c997;
$COLOR_TEAL_500: #12b886;
$COLOR_TEAL_600: #0ca678;
$COLOR_TEAL_700: #099268;
$COLOR_TEAL_800: #087f5b;
