$COLOR_FILL_BRAND_DEFAULT: 'COLOR_FILL_BRAND_DEFAULT';
$COLOR_FILL_BRAND_SUBTLE_DEFAULT: 'COLOR_FILL_BRAND_SUBTLE_DEFAULT';
$COLOR_FILL_BRAND_STRONG_DEFAULT: 'COLOR_FILL_BRAND_STRONG_DEFAULT';
$COLOR_FILL_NEUTRAL_DEFAULT: 'COLOR_FILL_NEUTRAL_DEFAULT';
$COLOR_FILL_NEUTRAL_SUBTLE_DEFAULT: 'COLOR_FILL_NEUTRAL_SUBTLE_DEFAULT';
$COLOR_FILL_NEUTRAL_STRONG_DEFAULT: 'COLOR_FILL_NEUTRAL_STRONG_DEFAULT';
$COLOR_FILL_SUCCESS_DEFAULT: 'COLOR_FILL_SUCCESS_DEFAULT';
$COLOR_FILL_SUCCESS_STRONG_DEFAULT: 'COLOR_FILL_SUCCESS_STRONG_DEFAULT';
$COLOR_FILL_DANGER_DEFAULT: 'COLOR_FILL_DANGER_DEFAULT';
$COLOR_FILL_DANGER_STRONG_DEFAULT: 'COLOR_FILL_DANGER_STRONG_DEFAULT';
$COLOR_FILL_WARNING_DEFAULT: 'COLOR_FILL_WARNING_DEFAULT';
$COLOR_FILL_WARNING_STRONG_DEFAULT: 'COLOR_FILL_WARNING_STRONG_DEFAULT';
$COLOR_FILL_INFORMATION_DEFAULT: 'COLOR_FILL_INFORMATION_DEFAULT';
$COLOR_FILL_INFORMATION_STRONG_DEFAULT: 'COLOR_FILL_INFORMATION_STRONG_DEFAULT';

// accent
$COLOR_FILL_ACCENT_DEFAULT: 'COLOR_FILL_ACCENT_DEFAULT';
$COLOR_FILL_ACCENT_GREEN_DEFAULT: 'COLOR_FILL_ACCENT_GREEN_DEFAULT';
$COLOR_FILL_ACCENT_GREEN_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_GREEN_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_SPRINGGREEN_DEFAULT: 'COLOR_FILL_ACCENT_SPRINGGREEN_DEFAULT';
$COLOR_FILL_ACCENT_SPRINGGREEN_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_SPRINGGREEN_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_OLIVEGREEN_DEFAULT: 'COLOR_FILL_ACCENT_OLIVEGREEN_DEFAULT';
$COLOR_FILL_ACCENT_OLIVEGREEN_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_OLIVEGREEN_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_YELLOW_DEFAULT: 'COLOR_FILL_ACCENT_YELLOW_DEFAULT';
$COLOR_FILL_ACCENT_YELLOW_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_YELLOW_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_GOLD_DEFAULT: 'COLOR_FILL_ACCENT_GOLD_DEFAULT';
$COLOR_FILL_ACCENT_GOLD_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_GOLD_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_ORANGE_DEFAULT: 'COLOR_FILL_ACCENT_ORANGE_DEFAULT';
$COLOR_FILL_ACCENT_ORANGE_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_ORANGE_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_RED_DEFAULT: 'COLOR_FILL_ACCENT_RED_DEFAULT';
$COLOR_FILL_ACCENT_RED_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_RED_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_PINK_DEFAULT: 'COLOR_FILL_ACCENT_PINK_DEFAULT';
$COLOR_FILL_ACCENT_PINK_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_PINK_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_PURPLE_DEFAULT: 'COLOR_FILL_ACCENT_PURPLE_DEFAULT';
$COLOR_FILL_ACCENT_PURPLE_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_PURPLE_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_VIOLET_DEFAULT: 'COLOR_FILL_ACCENT_VIOLET_DEFAULT';
$COLOR_FILL_ACCENT_VIOLET_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_VIOLET_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_COBALTBLUE_DEFAULT: 'COLOR_FILL_ACCENT_COBALTBLUE_DEFAULT';
$COLOR_FILL_ACCENT_COBALTBLUE_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_COBALTBLUE_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_SKYBLUE_DEFAULT: 'COLOR_FILL_ACCENT_SKYBLUE_DEFAULT';
$COLOR_FILL_ACCENT_SKYBLUE_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_SKYBLUE_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_CYAN_DEFAULT: 'COLOR_FILL_ACCENT_CYAN_DEFAULT';
$COLOR_FILL_ACCENT_CYAN_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_CYAN_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_TEAL_DEFAULT: 'COLOR_FILL_ACCENT_TEAL_DEFAULT';
$COLOR_FILL_ACCENT_TEAL_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_TEAL_STRONG_DEFAULT';
$COLOR_FILL_ACCENT_GRAY_DEFAULT: 'COLOR_FILL_ACCENT_GRAY_DEFAULT';
$COLOR_FILL_ACCENT_GRAY_STRONG_DEFAULT: 'COLOR_FILL_ACCENT_GRAY_STRONG_DEFAULT';
