// fontStyle
$DISPLAY_1_B: 'DISPLAY_1_B';
$DISPLAY_1_SB: 'DISPLAY_1_SB';
$DISPLAY_2_B: 'DISPLAY_2_B';
$DISPLAY_2_SB: 'DISPLAY_2_SB';
$DISPLAY_3_B: 'DISPLAY_3_B';
$DISPLAY_3_SB: 'DISPLAY_3_SB';
$HEADING_1_B: 'HEADING_1_B';
$HEADING_1_SB: 'HEADING_1_SB';
$HEADING_1_M: 'HEADING_1_M';
$HEADING_2_B: 'HEADING_2_B';
$HEADING_2_SB: 'HEADING_2_SB';
$HEADING_2_M: 'HEADING_2_M';
$HEADING_3_B: 'HEADING_3_B';
$HEADING_3_SB: 'HEADING_3_SB';
$HEADING_3_M: 'HEADING_3_M';
$TITLE_1_B: 'TITLE_1_B';
$TITLE_1_SB: 'TITLE_1_SB';
$TITLE_1_M: 'TITLE_1_M';
$TITLE_2_B: 'TITLE_2_B';
$TITLE_2_SB: 'TITLE_2_SB';
$TITLE_2_M: 'TITLE_2_M';
$TITLE_3_B: 'TITLE_3_B';
$TITLE_3_SB: 'TITLE_3_SB';
$TITLE_3_M: 'TITLE_3_M';
$BODY_1_B: 'BODY_1_B';
$BODY_1_SB: 'BODY_1_SB';
$BODY_1_M: 'BODY_1_M';
$BODY_2_B: 'BODY_2_B';
$BODY_2_SB: 'BODY_2_SB';
$BODY_2_M: 'BODY_2_M';
$BODY_3_B: 'BODY_3_B';
$BODY_3_SB: 'BODY_3_SB';
$BODY_3_M: 'BODY_3_M';
$CAPTION_1_SB: 'CAPTION_1_SB';
$CAPTION_1_M: 'CAPTION_1_M';
$CAPTION_2_SB: 'CAPTION_2_SB';
$CAPTION_2_M: 'CAPTION_2_M';
