$opacity_0: 0;
$opacity_5: 5;
$opacity_8: 8;
$opacity_12: 12;
$opacity_16: 16;
$opacity_22: 22;
$opacity_28: 28;
$opacity_35: 35;
$opacity_43: 43;
$opacity_52: 52;
$opacity_61: 61;
$opacity_74: 74;
$opacity_88: 88;
$opacity_97: 97;
$opacity_100: 100;
