$OPACITY_0: 0;
$OPACITY_5: 5;
$OPACITY_8: 8;
$OPACITY_12: 12;
$OPACITY_16: 16;
$OPACITY_22: 22;
$OPACITY_28: 28;
$OPACITY_35: 35;
$OPACITY_43: 43;
$OPACITY_52: 52;
$OPACITY_61: 61;
$OPACITY_74: 74;
$OPACITY_88: 88;
$OPACITY_97: 97;
$OPACITY_100: 100;
