$SPACE_NONE: 0px;
$SPACE_XXXXS: 2px;
$SPACE_XXXS: 4px;
$SPACE_XXS: 6px;
$SPACE_XS: 8px;
$SPACE_S: 10px;
$SPACE_M: 12px;
$SPACE_L: 16px;
$SPACE_XL: 24px;
$SPACE_XXL: 32px;
$SPACE_XXXL: 40px;
$SPACE_XXXXL: 48px;
