@use './colors.scss' as *;

$color_text_strong: $C_GRAY_800;
$color_text_default: $C_GRAY_700;
$color_text_subtle: $C_GRAY_500;
$color_text_subtlest: $C_GRAY_400;
$color_text_inverse: $C_GRAY_WHITE;
$color_text_disabled: $C_GRAY_300;
$color_text_brand: $C_GREEN_600;
$color_text_success: $C_GREEN_600;
$color_text_danger: $C_RED_600;
$color_text_warning: $C_YELLOW_600;
$color_text_information: $C_SKYBLUE_600;

// accent
$color_text_accent_green_subtle: $C_GREEN_400;
$color_text_accent_green_default: $C_GREEN_600;
$color_text_accent_green_strong: $C_GREEN_800;
$color_text_accent_springgreen_subtle: $C_SPRINGGREEN_400;
$color_text_accent_springgreen_default: $C_SPRINGGREEN_600;
$color_text_accent_springgreen_strong: $C_SPRINGGREEN_800;
$color_text_accent_olivegreen_subtle: $C_OLIVEGREEN_400;
$color_text_accent_olivegreen_default: $C_OLIVEGREEN_600;
$color_text_accent_olivegreen_strong: $C_OLIVEGREEN_800;
$color_text_accent_yellow_subtle: $C_YELLOW_400;
$color_text_accent_yellow_default: $C_YELLOW_600;
$color_text_accent_yellow_strong: $C_YELLOW_800;
$color_text_accent_gold_subtle: $C_GOLD_400;
$color_text_accent_gold_default: $C_GOLD_600;
$color_text_accent_gold_strong: $C_GOLD_800;
$color_text_accent_orange_subtle: $C_ORANGE_400;
$color_text_accent_orange_default: $C_ORANGE_600;
$color_text_accent_orange_strong: $C_ORANGE_800;
$color_text_accent_red_subtle: $C_RED_400;
$color_text_accent_red_default: $C_RED_600;
$color_text_accent_red_strong: $C_RED_800;
$color_text_accent_pink_subtle: $C_PINK_400;
$color_text_accent_pink_default: $C_PINK_600;
$color_text_accent_pink_strong: $C_PINK_800;
$color_text_accent_purple_subtle: $C_PURPLE_400;
$color_text_accent_purple_default: $C_PURPLE_600;
$color_text_accent_purple_strong: $C_PURPLE_800;
$color_text_accent_violet_subtle: $C_VIOLET_400;
$color_text_accent_violet_default: $C_VIOLET_600;
$color_text_accent_violet_strong: $C_VIOLET_800;
$color_text_accent_cobaltblue_subtle: $C_COBALTBLUE_400;
$color_text_accent_cobaltblue_default: $C_COBALTBLUE_600;
$color_text_accent_cobaltblue_strong: $C_COBALTBLUE_800;
$color_text_accent_skyblue_subtle: $C_SKYBLUE_400;
$color_text_accent_skyblue_default: $C_SKYBLUE_600;
$color_text_accent_skyblue_strong: $C_SKYBLUE_800;
$color_text_accent_cyan_subtle: $C_CYAN_400;
$color_text_accent_cyan_default: $C_CYAN_600;
$color_text_accent_cyan_strong: $C_CYAN_800;
$color_text_accent_teal_subtle: $C_TEAL_400;
$color_text_accent_teal_default: $C_TEAL_600;
$color_text_accent_teal_strong: $C_TEAL_800;
