@use './colors.scss' as *;

$COLOR_TEXT_STRONG: $COLOR_GRAY_800;
$COLOR_TEXT_DEFAULT: $COLOR_GRAY_700;
$COLOR_TEXT_SUBTLE: $COLOR_GRAY_500;
$COLOR_TEXT_SUBTLEEST: $COLOR_GRAY_400;
$COLOR_TEXT_INVERSE: $COLOR_GRAY_WHITE;
$COLOR_TEXT_DISABLED: $COLOR_GRAY_300;
$COLOR_TEXT_BRAND: $COLOR_GREEN_600;
$COLOR_TEXT_SUCCESS: $COLOR_GREEN_600;
$COLOR_TEXT_DANGER: $COLOR_RED_600;
$COLOR_TEXT_WARNING: $COLOR_YELLOW_600;
$COLOR_TEXT_INFORMATION: $COLOR_SKYBLUE_600;

// accent
$COLOR_TEXT_ACCENT_GREEN_SUBTLE: $COLOR_GREEN_400;
$COLOR_TEXT_ACCENT_GREEN_DEFAULT: $COLOR_GREEN_600;
$COLOR_TEXT_ACCENT_GREEN_STRONG: $COLOR_GREEN_800;
$COLOR_TEXT_ACCENT_SPRINGGREEN_SUBTLE: $COLOR_SPRINGGREEN_400;
$COLOR_TEXT_ACCENT_SPRINGGREEN_DEFAULT: $COLOR_SPRINGGREEN_600;
$COLOR_TEXT_ACCENT_SPRINGGREEN_STRONG: $COLOR_SPRINGGREEN_800;
$COLOR_TEXT_ACCENT_OLIVEGREEN_SUBTLE: $COLOR_OLIVEGREEN_400;
$COLOR_TEXT_ACCENT_OLIVEGREEN_DEFAULT: $COLOR_OLIVEGREEN_600;
$COLOR_TEXT_ACCENT_OLIVEGREEN_STRONG: $COLOR_OLIVEGREEN_800;
$COLOR_TEXT_ACCENT_YELLOW_SUBTLE: $COLOR_YELLOW_400;
$COLOR_TEXT_ACCENT_YELLOW_DEFAULT: $COLOR_YELLOW_600;
$COLOR_TEXT_ACCENT_YELLOW_STRONG: $COLOR_YELLOW_800;
$COLOR_TEXT_ACCENT_GOLD_SUBTLE: $COLOR_GOLD_400;
$COLOR_TEXT_ACCENT_GOLD_DEFAULT: $COLOR_GOLD_600;
$COLOR_TEXT_ACCENT_GOLD_STRONG: $COLOR_GOLD_800;
$COLOR_TEXT_ACCENT_ORANGE_SUBTLE: $COLOR_ORANGE_400;
$COLOR_TEXT_ACCENT_ORANGE_DEFAULT: $COLOR_ORANGE_600;
$COLOR_TEXT_ACCENT_ORANGE_STRONG: $COLOR_ORANGE_800;
$COLOR_TEXT_ACCENT_RED_SUBTLE: $COLOR_RED_400;
$COLOR_TEXT_ACCENT_RED_DEFAULT: $COLOR_RED_600;
$COLOR_TEXT_ACCENT_RED_STRONG: $COLOR_RED_800;
$COLOR_TEXT_ACCENT_PINK_SUBTLE: $COLOR_PINK_400;
$COLOR_TEXT_ACCENT_PINK_DEFAULT: $COLOR_PINK_600;
$COLOR_TEXT_ACCENT_PINK_STRONG: $COLOR_PINK_800;
$COLOR_TEXT_ACCENT_PURPLE_SUBTLE: $COLOR_PURPLE_400;
$COLOR_TEXT_ACCENT_PURPLE_DEFAULT: $COLOR_PURPLE_600;
$COLOR_TEXT_ACCENT_PURPLE_STRONG: $COLOR_PURPLE_800;
$COLOR_TEXT_ACCENT_VIOLET_SUBTLE: $COLOR_VIOLET_400;
$COLOR_TEXT_ACCENT_VIOLET_DEFAULT: $COLOR_VIOLET_600;
$COLOR_TEXT_ACCENT_VIOLET_STRONG: $COLOR_VIOLET_800;
$COLOR_TEXT_ACCENT_COBALTBLUE_SUBTLE: $COLOR_COBALTBLUE_400;
$COLOR_TEXT_ACCENT_COBALTBLUE_DEFAULT: $COLOR_COBALTBLUE_600;
$COLOR_TEXT_ACCENT_COBALTBLUE_STRONG: $COLOR_COBALTBLUE_800;
$COLOR_TEXT_ACCENT_SKYBLUE_SUBTLE: $COLOR_SKYBLUE_400;
$COLOR_TEXT_ACCENT_SKYBLUE_DEFAULT: $COLOR_SKYBLUE_600;
$COLOR_TEXT_ACCENT_SKYBLUE_STRONG: $COLOR_SKYBLUE_800;
$COLOR_TEXT_ACCENT_CYAN_SUBTLE: $COLOR_CYAN_400;
$COLOR_TEXT_ACCENT_CYAN_DEFAULT: $COLOR_CYAN_600;
$COLOR_TEXT_ACCENT_CYAN_STRONG: $COLOR_CYAN_800;
$COLOR_TEXT_ACCENT_TEAL_SUBTLE: $COLOR_TEAL_400;
$COLOR_TEXT_ACCENT_TEAL_DEFAULT: $COLOR_TEAL_600;
$COLOR_TEXT_ACCENT_TEAL_STRONG: $COLOR_TEAL_800;
