@use '@styles/common.scss' as *;

.icon {
  g {
    clip-path: none;
    fill: inherit;
  }

  path {
    fill: inherit;
  }
}

// storybook css
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.item {
  @include Flex($dir: column, $align: center, $justify: center, $gap: $SPACE_XS);
  min-width: 100px;
  padding: 20px;
  border: 1px solid $COLOR_BORDER_DEFAULT;
  border-radius: 20px;
}
